@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.header{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}
.box{
    width: calc(100vw - 10rem);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: inset 0px 1px 4px 0 rgba(0,0,0,0.8);
    padding: 1.2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.btn{
    width: calc(100% / 3);
    height: 10rem;
    border-radius: 1.5rem;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(210, 210, 210);
}

.result{
    margin: 0.5rem 0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.reset{
    text-align: center;
    margin: 10px 0;
}
#reset{
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #bcf;
    border-radius: 0.5rem;
    padding: 5px 10px;
    font-size: 1.1rem;
    margin: 7px 0;
    transition: all 0.8s ease-in-out;
}

#reset:hover{
    color: #fff;
    background-color: #000;
}